:root {
    --primary-color: #212121;
    --secondary-color: #f3f3f3;
    --third-color: #77fcfd;
    --header-size: 60px;
    --paragraph-size: 17px;
    --detail-size: 14px;
}

@font-face {
    font-family: poppins-extralight;
    src: url("fonts/Poppins-ExtraLight.ttf");
}

@font-face {
    font-family: poppins-light;
    src: url("fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: poppins-medium;
    src: url("fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: poppins-semibold;
    src: url("fonts/Poppins-SemiBold.ttf");
}

/* generals */

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: poppins-medium, sans-serif;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

a:hover {
    cursor: pointer;
}

.nav-wrap, .about-wrap, .projects-wrap, .footer-wrap, .contact-wrap, .homepage-wrap {
    width: 1440px;
    padding: 0px 10px;
    transition: opacity 1s;
}

footer, .contact, .projects, .about, .homepage  {
    display: flex;
    justify-content: center;
    transition: opacity 1s;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-header {
    font-size: 25px;
    margin: 20px 0px;
}

.show {
    opacity: 1;
    height: auto;
    overflow: hidden;
}
.hide {
    opacity: 0;
    padding: 0px;
    height: 0px;
    overflow: hidden;
}

/* mobile nav */
.mobile-nav {
    display: none;
}

nav {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    background-color: #212121c9;
    backdrop-filter: saturate(280%) blur(25px);
    font-size: 20px;
    z-index: 3;
}

nav ul li {
    list-style: none;
}

.nav-wrap {
    border-bottom: 1px solid white;
    padding: 15px 10px 14px 10px;
    display: flex;
    justify-content: space-evenly;
}

nav img {
    width: 100px;
}

.desktop-nav {
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 100px 500px 100px;
}

.desktop-main-nav-wrap {
    display: flex;
    align-items: center;
    padding: 0px;
}

.desktop-main-nav-wrap li {
    margin: 0px 20px;
    letter-spacing: 2px;
}

.desktop-main-nav-wrap li a {
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s;
}

.desktop-main-nav-wrap li a:hover {
    color: #77fcfd;
    background-color: #343636;
}

/* hero text */
.hero-homepage-wrap {
    display: flex;
}

.hero-image-wrap {
    width: 50%;
}

.hero-image-wrap img {
    width: 100%;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
} 

.hero-text-wrap {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 100px;
}

.hero-text-wrap h3 {
    width: fit-content;
    font-size: var(--header-size);
    font-family: poppins-semibold;
    background: #121FCF;
    background: repeating-linear-gradient(to right, #4eddf0 0%, #9fffce 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text-wrap p {
    margin: 20px 0px;
    font-size: var(--paragraph-size);
}

.hero-text-wrap div {
    padding: 10px 0px;   
    width: fit-content;
}

.hero-text-wrap a {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--third-color);
    transition: all 0.3s;
    color: black;
    border: 1px solid #4eddf0;
    font-size: 16px;
    font-family: poppins-light;
}

.hero-text-wrap a:hover {
    color: white;
    background-color: var(--primary-color);
    border: 1px solid #4eddf0;
    cursor: pointer;
}

/* homepage about block */
.homepage-about {    
    padding: 100px 0px;
}

.homepage-about-blocks {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.homepage-about-block {
    max-width: 300px;
    margin: 0px 10px;
}

.about-description {
    padding: 10px;
}

.about-description h3 {
    font-size: 20px;
    margin: 10px 0px;
}

.about-description p {
    font-family: poppins-light;
    text-align: justify;
    line-height: 18px;
}

.about-button {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.about-button a {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--third-color);
    transition: all 0.3s;
    color: black;
    border: 1px solid #4eddf0;
    font-size: 16px;
    font-family: poppins-light;
}

.about-button a:hover {
    color: white;
    background-color: var(--primary-color);
    border: 1px solid #4eddf0;
    cursor: pointer;
}

/* about */

.about-image-wrap {
    width: 50%;
}

.about-image-wrap img {
    width: 100%;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
}

.hero-about-wrap {
    display: flex;
    padding: 0px 0px;
}

.about-text-wrap {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.about-text-wrap h3 {
    margin-bottom: 20px;
    font-size: 30px;
}

.about-text-wrap p {
    font-family: poppins-light;
    margin: 10px 0px;
}

.about-bottom-wrap {
    padding: 40px 0px;
}

.controls {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #838383;
}

.controls div {
    min-width: 300px;
}

.controls div:hover {
    cursor: pointer;
}

.controls .skills {
    padding: 20px;
    border-radius: 10px 0px 0px 0px;
    border-right: 2px solid black;
}
.controls .cv {
    padding: 20px;
    border-radius: 0px 10px 0px 0px;
}

.about-content div {
    transition: all 0.2s;
}

.skills-content {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.skills-wrap {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

.skills-wrap div {
    width: 300px;
}

.skills-wrap h2, .cv-content h2 {
    font-size: 25px;
    text-align: center;
    margin: 20px 0px;
    color: var(--third-color);
    font-family: poppins-medium;
    line-height: 24px;
}

.skills-wrap h3 {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.skills-wrap li {
    font-size: 20px;
    color: #cccccc;
    font-family: poppins-light;
}

.cv-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
}

.cv-content div {
    margin: 0px 20px;
    width: 300px;
}

.cv-content p {
    font-size: 16px;
    color: #cccccc;
    font-family: poppins-light;
}

.pdf-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px;
}
.pdf-icon p {
    margin-bottom: 20px;
}
.pdf-icon img {
    width: 60px;
}

/* show and hide buttons */
.showxp {
    opacity: 1;
    z-index: 3;
    height: auto;
}
.hidexp {
    opacity: 0;
    z-index: -3;
    height: 0px;
    pointer-events: none; 
}

.active {
    background-color: #4f5052;
}
.active:hover {
    background-color: #4f5052;
}
.inactive {
    background-color: #343636;
}
.inactive:hover {
    background-color: #4f5052;
}

/* projects */

.projects-wrap {
    padding: 50px 0px;
}

.projects-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 30px 0px;
}

.projects-container a {
}

.project-block {
    width: 300px;
    margin: 10px;
    background-color: #2b2e2e;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

.project-block:hover {
    top: 20px;
    cursor: pointer;
    box-shadow: 2px 1px 32px -4px rgba(99,99,120,0.75);
    -webkit-box-shadow: 2px 1px 32px -4px rgba(99,99,120,0.75);
    -moz-box-shadow: 2px 1px 32px -4px rgba(99,99,120,0.75);
}

.project-img img {
    width: 100%;
}

.project-img h3 {
    text-align: center;
    margin-top: 10px;
}

.project-title p {
    text-align: justify;
}

.languages-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.languages-wrap div {
    margin: 3px
}

.html, .css, .js, .jquery {
    font-size: var(--detail-size);
    font-family: poppins-extralight;
    color: black;
    padding: 2px 5px;
    border-radius: 3px;
    width: fit-content;
}
.html {
    background-color: #ffe9ea;
    border: 2px solid #f82f2f;
}
.css {
    background-color: #e4f1ff;
    border: 2px solid #2f65f8;
}
.js {
    background-color: #fdfce7;
    border: 2px solid #f8f411;
}
.jquery {
    background-color: #ebffea;
    border: 2px solid #51ad35;
}

.project-title {
    padding: 10px;
}

.project-title p {
    font-family: poppins-light;
}

.project-button-wrap {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.project-button-wrap a {
    text-align: center;
}

/* contact */
.contact-wrap {
    padding: 50px 0px;
}

.contact-top-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-wrap {
    margin: 50px 0px;
}

.video-wrap video {
    border: 1px solid white;
    border-radius: 20px;
}

.contact-bottom-wrap {
    /* display: flex;
    justify-content: center; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

form {
    padding: 10px;
    min-width: 1000px;
    max-width: 1000px;
}

form div {
    display: flex;
}

form input {
    margin: 5px 10px;
    width: 50%;
    padding: 10px;
}

form textarea {
    margin: 5px 10px;
    min-width: -webkit-fill-available;
    resize: none;
    padding: 10px;
    height: 100px;
}

form button {
    background-color: var(--third-color);
    border: none;
    border-radius: 10px;
    color: black;
    margin: 5px 10px;
    padding: 10px;
    font-size: 18px;
}

form button:hover {
    cursor: pointer;
    background-color: #47d0e2;
}

.mail-btn {
    margin: 40px 0px;
}

.mail-btn a {
    background-color: var(--third-color);
    border: 1px solid var(--third-color);
    padding: 20px;
    border-radius: 10px;
    color: black;
    transition: all 0.5s;
}

.mail-btn a:hover {
    border: 1px solid var(--third-color); 
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* footer */
footer {
    background-color: #383a3a;
    padding: 50px 0px;
    text-align: center;
}

.footer-wrap {
    display: flex;
    flex-direction: column;
}

.social-icons-wrap a img {
    width: 50px;
}

.social-icons-wrap img {
    width: 100%;
}

@media (max-width: 1110px) {
    .nav-wrap, .about-wrap, .projects-wrap, .footer-wrap, .contact-wrap, .homepage-wrap {
        width: 1440px;
        padding: 0px 10px;
        transition: opacity 1s;
    }
    
    footer, .contact, .projects, .about, .homepage  {
        display: flex;
        justify-content: center;
        transition: opacity 1s;
    }
    
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .title-header {
        font-size: 25px;
        margin: 20px 0px;
    }
    
    .show {
        opacity: 1;
        height: auto;
        overflow: hidden;
    }
    .hide {
        opacity: 0;
        padding: 0px;
        height: 0px;
        overflow: hidden;
    }
    
    /* mobile nav */
    .mobile-nav {
        display: none;
    }
    
    nav {
        display: flex;
        justify-content: center;
        position: sticky;
        top: 0px;
        background-color: #212121c9;
        backdrop-filter: saturate(280%) blur(25px);
        font-size: 20px;
        z-index: 3;
    }
    
    nav ul li {
        list-style: none;
    }
    
    .nav-wrap {
        border-bottom: 1px solid white;
        padding: 15px 10px 14px 10px;
        display: flex;
        justify-content: space-evenly;
    }
    
    nav img {
        width: 100px;
    }
    
    .desktop-nav {
        width: 100%;
        display: grid;
        justify-content: space-between;
        grid-template-columns: 100px 500px 100px;
    }
    
    .desktop-main-nav-wrap {
        display: flex;
        align-items: center;
        padding: 0px;
    }
    
    .desktop-main-nav-wrap li {
        margin: 0px 20px;
        letter-spacing: 2px;
    }
    
    .desktop-main-nav-wrap li a {
        padding: 10px;
        border-radius: 10px;
        transition: all 0.3s;
    }
    
    .desktop-main-nav-wrap li a:hover {
        color: #77fcfd;
        background-color: #343636;
    }
    
    /* hero text */
    .hero-homepage-wrap {
        display: flex;
    }
    
    .hero-image-wrap {
        width: 50%;
    }
    
    .hero-image-wrap img {
        width: 100%;
        border: 1px solid white;
        border-radius: 10px;
        overflow: hidden;
    } 
    
    .hero-text-wrap {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding-left: 20px;
    }
    
    .hero-text-wrap h3 {
        width: fit-content;
        font-size: var(--header-size);
        font-family: poppins-semibold;
        background: #121FCF;
        background: repeating-linear-gradient(to right, #4eddf0 0%, #9fffce 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 50px;
    }
    
    .hero-text-wrap p {
        margin: 20px 0px;
        font-size: var(--paragraph-size);
    }
    
    .hero-text-wrap div {
        padding: 10px 0px;   
        width: fit-content;
    }
    
    .hero-text-wrap a {
        padding: 10px;
        border-radius: 10px;
        background-color: var(--third-color);
        transition: all 0.3s;
        color: black;
        border: 1px solid #4eddf0;
        font-size: 16px;
        font-family: poppins-light;
    }
    
    .hero-text-wrap a:hover {
        color: white;
        background-color: var(--primary-color);
        border: 1px solid #4eddf0;
        cursor: pointer;
    }
    
    /* homepage about block */
    .homepage-about {    
        padding: 100px 0px;
    }
    
    .homepage-about-blocks {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .homepage-about-block {
        max-width: 300px;
        margin: 0px 10px;
    }
    
    .about-description {
        padding: 10px;
    }
    
    .about-description h3 {
        font-size: 20px;
        margin: 10px 0px;
    }
    
    .about-description p {
        font-family: poppins-light;
        text-align: justify;
        line-height: 18px;
    }
    
    .about-button {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
    
    .about-button a {
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--third-color);
        transition: all 0.3s;
        color: black;
        border: 1px solid #4eddf0;
        font-size: 16px;
        font-family: poppins-light;
    }
    
    .about-button a:hover {
        color: white;
        background-color: var(--primary-color);
        border: 1px solid #4eddf0;
        cursor: pointer;
    }
    
    /* about */
    
    .about-image-wrap {
        width: 50%;
    }
    
    .about-image-wrap img {
        width: 100%;
        border: 1px solid white;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .hero-about-wrap {
        display: flex;
        padding: 0px 0px;
    }
    
    .about-text-wrap {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 0px 20px;
    }
    
    .about-text-wrap h3 {
        margin-bottom: 20px;
        font-size: 30px;
    }
    
    .about-text-wrap p {
        font-family: poppins-light;
        margin: 10px 0px;
    }
    
    .about-bottom-wrap {
        padding: 40px 0px;
    }
    
    .controls {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        border-bottom: 1px solid #838383;
    }
    
    .controls div {
        min-width: 300px;
    }
    
    .controls div:hover {
        cursor: pointer;
    }
    
    .controls .skills {
        padding: 20px;
        border-radius: 10px 0px 0px 0px;
        border-right: 2px solid black;
    }
    .controls .cv {
        padding: 20px;
        border-radius: 0px 10px 0px 0px;
    }
    
    .about-content div {
        transition: all 0.2s;
    }
    
    .skills-content {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    
    .skills-wrap {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        flex-wrap: wrap;
    }
    
    .skills-wrap div {
        width: 300px;
    }
    
    .skills-wrap h2, .cv-content h2 {
        font-size: 25px;
        text-align: center;
        margin: 20px 0px;
        color: var(--third-color);
        font-family: poppins-medium;
        line-height: 24px;
    }
    
    .skills-wrap h3 {
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
    }
    
    .skills-wrap li {
        font-size: 20px;
        color: #cccccc;
        font-family: poppins-light;
    }
    
    .cv-content {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .cv-content div {
        margin: 0px 20px;
        width: 300px;
    }
    
    .cv-content p {
        font-size: 16px;
        color: #cccccc;
        font-family: poppins-light;
    }
    
    .pdf-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 50px 0px;
    }
    .pdf-icon p {
        margin-bottom: 20px;
    }
    .pdf-icon img {
        width: 60px;
    }
    
    /* show and hide buttons */
    .showxp {
        opacity: 1;
        z-index: 3;
        height: auto;
    }
    .hidexp {
        opacity: 0;
        z-index: -3;
        height: 0px;
    }
    
    .active {
        background-color: #4f5052;
    }
    .active:hover {
        background-color: #4f5052;
    }
    .inactive {
        background-color: #343636;
    }
    .inactive:hover {
        background-color: #4f5052;
    }
    
    /* projects */
    
    .projects-wrap {
        padding: 50px 0px;
    }
    
    .projects-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 30px 0px;
    }
    
    .projects-container a {
    }
    
    .project-block {
        width: 300px;
        margin: 10px;
        background-color: #2b2e2e;
        border-radius: 10px;
        overflow: hidden;
        transition: all 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 400px;
    }
    
    .project-block:hover {
        top: 20px;
        cursor: pointer;
        box-shadow: 2px 1px 32px -4px rgba(99,99,120,0.75);
        -webkit-box-shadow: 2px 1px 32px -4px rgba(99,99,120,0.75);
        -moz-box-shadow: 2px 1px 32px -4px rgba(99,99,120,0.75);
    }
    
    .project-img img {
        width: 100%;
    }
    
    .project-img h3 {
        text-align: center;
        margin-top: 10px;
    }
    
    .project-title p {
        text-align: justify;
    }
    
    .languages-wrap {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }
    
    .languages-wrap div {
        margin: 3px
    }
    
    .html, .css, .js, .jquery {
        font-size: var(--detail-size);
        font-family: poppins-extralight;
        color: black;
        padding: 2px 5px;
        border-radius: 3px;
        width: fit-content;
    }
    .html {
        background-color: #ffe9ea;
        border: 2px solid #f82f2f;
    }
    .css {
        background-color: #e4f1ff;
        border: 2px solid #2f65f8;
    }
    .js {
        background-color: #fdfce7;
        border: 2px solid #f8f411;
    }
    .jquery {
        background-color: #ebffea;
        border: 2px solid #51ad35;
    }
    
    .project-title {
        padding: 10px;
    }
    
    .project-title p {
        font-family: poppins-light;
    }
    
    .project-button-wrap {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    
    .project-button-wrap a {
        text-align: center;
    }
    
    /* contact */
    .contact-wrap {
        padding: 50px 0px;
    }
    
    .contact-top-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .video-wrap {
        margin: 50px 0px;
    }
    
    .video-wrap video {
        border: 1px solid white;
        border-radius: 20px;
    }
    
    .contact-bottom-wrap {
        /* display: flex;
        justify-content: center; */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    form {
        padding: 10px;
        min-width: 1000px;
        max-width: 1000px;
    }
    
    form div {
        display: flex;
    }
    
    form input {
        margin: 5px 10px;
        width: 50%;
        padding: 10px;
    }
    
    form textarea {
        margin: 5px 10px;
        min-width: -webkit-fill-available;
        resize: none;
        padding: 10px;
        height: 100px;
    }
    
    form button {
        background-color: var(--third-color);
        border: none;
        border-radius: 10px;
        color: black;
        margin: 5px 10px;
        padding: 10px;
        font-size: 18px;
    }
    
    form button:hover {
        cursor: pointer;
        background-color: #47d0e2;
    }
    
    .mail-btn {
        margin: 40px 0px;
    }
    
    .mail-btn a {
        background-color: var(--third-color);
        border: 1px solid var(--third-color);
        padding: 20px;
        border-radius: 10px;
        color: black;
        transition: all 0.5s;
    }
    
    .mail-btn a:hover {
        border: 1px solid var(--third-color); 
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }
    
    /* footer */
    footer {
        background-color: #383a3a;
        padding: 50px 0px;
        text-align: center;
    }
    
    .footer-wrap {
        display: flex;
        flex-direction: column;
    }
    
    .social-icons-wrap a img {
        width: 50px;
    }
    
    .social-icons-wrap img {
        width: 100%;
    }
}

@media (max-width: 1023px) {
    .nav-wrap, .about-wrap, .projects-wrap, .footer-wrap, .contact-wrap, .homepage-wrap {
        width: 1440px;
        padding: 0px 10px;
        transition: opacity 1s;
    }
    
    footer, .contact, .projects, .about, .homepage  {
        display: flex;
        justify-content: center;
        transition: opacity 1s;
    }
    
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .title-header {
        font-size: 25px;
        margin: 20px 0px;
    }
    
    .show {
        opacity: 1;
        height: auto;
        overflow: hidden;
    }
    .hide {
        opacity: 0;
        padding: 0px;
        height: 0px;
        overflow: hidden;
    }
    
    /* mobile nav */
    .mobile-nav {
        display: block;
        text-align: center;
        width: 100%;
    }
    
    .x {
        display: none;
        width: 70px;
    }

    .hamb {
        width: 70px;
    }

    .mobile-nav-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-nav-bottom {
        display: none;
        position: relative;
        top: 6px;
    }

    .mobile-main-nav-wrap {
        padding: 20px 0px;
        position: absolute;
        width: 100%;
        border-bottom: 1px solid white;
        background-color: #212121;
    }

    .mobile-main-nav-wrap li {
        margin: 10px 0px;
    }

    nav {
        display: flex;
        justify-content: center;
        position: sticky;
        top: 0px;
        background-color: #212121c9;
        backdrop-filter: saturate(280%) blur(25px);
        font-size: 20px;
        z-index: 3;
    }
    
    nav ul li {
        list-style: none;
    }
    
    .nav-wrap {
        border-bottom: 1px solid white;
        padding: 5px 5px 5px 5px;
        display: flex;
        justify-content: space-evenly;
    }
    
    nav img {
        width: 100px;
    }
    
    .desktop-nav {
        width: 100%;
        display: grid;
        justify-content: space-between;
        grid-template-columns: 100px 500px 100px;
        display: none;
    }
    
    .desktop-main-nav-wrap {
        display: flex;
        align-items: center;
        padding: 0px;
    }
    
    .desktop-main-nav-wrap li {
        margin: 0px 20px;
        letter-spacing: 2px;
    }
    
    .desktop-main-nav-wrap li a {
        padding: 10px;
        border-radius: 10px;
        transition: all 0.3s;
    }
    
    .desktop-main-nav-wrap li a:hover {
        color: #77fcfd;
        background-color: #343636;
    }
    
    /* hero text */
    .hero-homepage-wrap {
        display: flex;
    }
    
    .hero-image-wrap {
        width: 50%;
    }
    
    .hero-image-wrap img {
        width: 100%;
        border: 1px solid white;
        border-radius: 10px;
        overflow: hidden;
    } 
    
    .hero-text-wrap {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding-left: 20px;
    }
    
    .hero-text-wrap h3 {
        width: fit-content;
        font-size: var(--header-size);
        font-family: poppins-semibold;
        background: #121FCF;
        background: repeating-linear-gradient(to right, #4eddf0 0%, #9fffce 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 50px;
    }
    
    .hero-text-wrap p {
        margin: 20px 0px;
        font-size: var(--paragraph-size);
    }
    
    .hero-text-wrap div {
        padding: 10px 0px;   
        width: fit-content;
    }
    
    .hero-text-wrap a {
        padding: 10px;
        border-radius: 10px;
        background-color: var(--third-color);
        transition: all 0.3s;
        color: black;
        border: 1px solid #4eddf0;
        font-size: 16px;
        font-family: poppins-light;
    }
    
    .hero-text-wrap a:hover {
        color: white;
        background-color: var(--primary-color);
        border: 1px solid #4eddf0;
        cursor: pointer;
    }
    
    /* homepage about block */
    .homepage-about {    
        padding: 100px 0px;
    }
    
    .homepage-about-blocks {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .homepage-about-block {
        max-width: 300px;
        margin: 0px 10px;
    }
    
    .about-description {
        padding: 10px;
    }
    
    .about-description h3 {
        font-size: 20px;
        margin: 10px 0px;
    }
    
    .about-description p {
        font-family: poppins-light;
        text-align: justify;
        line-height: 18px;
    }
    
    .about-button {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
    
    .about-button a {
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--third-color);
        transition: all 0.3s;
        color: black;
        border: 1px solid #4eddf0;
        font-size: 16px;
        font-family: poppins-light;
    }
    
    .about-button a:hover {
        color: white;
        background-color: var(--primary-color);
        border: 1px solid #4eddf0;
        cursor: pointer;
    }
    
    /* about */
    
    .about-image-wrap {
        width: 50%;
    }
    
    .about-image-wrap img {
        width: 100%;
        border: 1px solid white;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .hero-about-wrap {
        display: flex;
        padding: 0px 0px;
    }
    
    .about-text-wrap {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 0px 20px;
    }
    
    .about-text-wrap h3 {
        margin-bottom: 20px;
        font-size: 30px;
    }
    
    .about-text-wrap p {
        font-family: poppins-light;
        margin: 10px 0px;
    }
    
    .about-bottom-wrap {
        padding: 40px 0px;
    }
    
    .controls {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        border-bottom: 1px solid #838383;
    }
    
    .controls div {
        min-width: 300px;
    }
    
    .controls div:hover {
        cursor: pointer;
    }
    
    .controls .skills {
        padding: 20px;
        border-radius: 10px 0px 0px 0px;
        border-right: 2px solid black;
    }
    .controls .cv {
        padding: 20px;
        border-radius: 0px 10px 0px 0px;
    }
    
    .about-content div {
        transition: all 0.2s;
    }
    
    .skills-content {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    
    .skills-wrap {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        flex-wrap: wrap;
    }
    
    .skills-wrap div {
        width: 300px;
    }
    
    .skills-wrap h2, .cv-content h2 {
        font-size: 25px;
        text-align: center;
        margin: 20px 0px;
        color: var(--third-color);
        font-family: poppins-medium;
        line-height: 24px;
    }
    
    .skills-wrap h3 {
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
    }
    
    .skills-wrap li {
        font-size: 20px;
        color: #cccccc;
        font-family: poppins-light;
    }
    
    .cv-content {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .cv-content div {
        margin: 0px 20px;
        width: 300px;
    }
    
    .cv-content p {
        font-size: 16px;
        color: #cccccc;
        font-family: poppins-light;
    }
    
    .pdf-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 50px 0px;
    }
    .pdf-icon p {
        margin-bottom: 20px;
    }
    .pdf-icon img {
        width: 60px;
    }
    
    /* show and hide buttons */
    .showxp {
        opacity: 1;
        z-index: 3;
        height: auto;
    }
    .hidexp {
        opacity: 0;
        z-index: -3;
        height: 0px;
    }
    
    .active {
        background-color: #4f5052;
    }
    .active:hover {
        background-color: #4f5052;
    }
    .inactive {
        background-color: #343636;
    }
    .inactive:hover {
        background-color: #4f5052;
    }
    
    /* projects */
    
    .projects-wrap {
        padding: 50px 0px;
    }
    
    .project-hero {
        margin: 0px 20px;
        text-align: center;
    }

    .projects-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 30px 0px;
    }
    
    .projects-container a {
    }
    
    .project-block {
        width: 300px;
        margin: 10px;
        background-color: #2b2e2e;
        border-radius: 10px;
        overflow: hidden;
        transition: all 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 400px;
    }
    
    .project-block:hover {
        top: 20px;
        cursor: pointer;
        box-shadow: 2px 1px 32px -4px rgba(99,99,120,0.75);
        -webkit-box-shadow: 2px 1px 32px -4px rgba(99,99,120,0.75);
        -moz-box-shadow: 2px 1px 32px -4px rgba(99,99,120,0.75);
    }
    
    .project-img img {
        width: 100%;
    }
    
    .project-img h3 {
        text-align: center;
        margin-top: 10px;
    }
    
    .project-title p {
        text-align: justify;
    }
    
    .languages-wrap {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }
    
    .languages-wrap div {
        margin: 3px
    }
    
    .html, .css, .js, .jquery {
        font-size: var(--detail-size);
        font-family: poppins-extralight;
        color: black;
        padding: 2px 5px;
        border-radius: 3px;
        width: fit-content;
    }
    .html {
        background-color: #ffe9ea;
        border: 2px solid #f82f2f;
    }
    .css {
        background-color: #e4f1ff;
        border: 2px solid #2f65f8;
    }
    .js {
        background-color: #fdfce7;
        border: 2px solid #f8f411;
    }
    .jquery {
        background-color: #ebffea;
        border: 2px solid #51ad35;
    }
    
    .project-title {
        padding: 10px;
    }
    
    .project-title p {
        font-family: poppins-light;
    }
    
    .project-button-wrap {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    
    .project-button-wrap a {
        text-align: center;
    }
    
    /* contact */
    .contact-wrap {
        padding: 50px 0px;
    }
    
    .contact-top-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .video-wrap {
        margin: 50px 0px;
    }
    
    .video-wrap video {
        border: 1px solid white;
        border-radius: 20px;
    }
    
    .contact-bottom-wrap {
        /* display: flex;
        justify-content: center; */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    form {
        padding: 10px;
        min-width: 1000px;
        max-width: 1000px;
    }
    
    form div {
        display: flex;
    }
    
    form input {
        margin: 5px 10px;
        width: 50%;
        padding: 10px;
    }
    
    form textarea {
        margin: 5px 10px;
        min-width: -webkit-fill-available;
        resize: none;
        padding: 10px;
        height: 100px;
    }
    
    form button {
        background-color: var(--third-color);
        border: none;
        border-radius: 10px;
        color: black;
        margin: 5px 10px;
        padding: 10px;
        font-size: 18px;
    }
    
    form button:hover {
        cursor: pointer;
        background-color: #47d0e2;
    }
    
    .mail-btn {
        margin: 40px 0px;
    }
    
    .mail-btn a {
        background-color: var(--third-color);
        border: 1px solid var(--third-color);
        padding: 20px;
        border-radius: 10px;
        color: black;
        transition: all 0.5s;
    }
    
    .mail-btn a:hover {
        border: 1px solid var(--third-color); 
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }
    
    /* footer */
    footer {
        background-color: #383a3a;
        padding: 50px 0px;
        text-align: center;
    }
    
    .footer-wrap {
        display: flex;
        flex-direction: column;
    }
    
    .social-icons-wrap a img {
        width: 50px;
    }
    
    .social-icons-wrap img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .nav-wrap, .about-wrap, .projects-wrap, .footer-wrap, .contact-wrap, .homepage-wrap {
        width: 1440px;
        padding: 0px 10px;
        transition: opacity 1s;
    }
    
    footer, .contact, .projects, .about, .homepage  {
        display: flex;
        justify-content: center;
        transition: opacity 1s;
    }
    
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .title-header {
        font-size: 25px;
        margin: 20px 0px;
    }
    
    .show {
        opacity: 1;
        height: auto;
        overflow: hidden;
    }
    .hide {
        opacity: 0;
        padding: 0px;
        height: 0px;
        overflow: hidden;
    }
    
    /* mobile nav */
    .mobile-nav {
        display: block;
        text-align: center;
        width: 100%;
    }
    
    .x {
        display: none;
        width: 70px;
    }

    .hamb {
        width: 70px;
    }

    .mobile-nav-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-nav-bottom {
        display: none;
    }

    .mobile-main-nav-wrap {
        padding: 0px;
    }

    .mobile-main-nav-wrap li {
        margin: 10px 0px;
    }

    nav {
        display: flex;
        justify-content: center;
        position: sticky;
        top: 0px;
        background-color: #212121c9;
        backdrop-filter: saturate(280%) blur(25px);
        font-size: 20px;
        z-index: 3;
    }
    
    nav ul li {
        list-style: none;
    }
    
    .nav-wrap {
        border-bottom: 1px solid white;
        padding: 5px 5px 5px 5px;
        display: flex;
        justify-content: space-evenly;
    }
    
    nav img {
        width: 100px;
    }
    
    .desktop-nav {
        width: 100%;
        display: grid;
        justify-content: space-between;
        grid-template-columns: 100px 500px 100px;
        display: none;
    }
    
    .desktop-main-nav-wrap {
        display: flex;
        align-items: center;
        padding: 0px;
    }
    
    .desktop-main-nav-wrap li {
        margin: 0px 20px;
        letter-spacing: 2px;
    }
    
    .desktop-main-nav-wrap li a {
        padding: 10px;
        border-radius: 10px;
        transition: all 0.3s;
    }
    
    .desktop-main-nav-wrap li a:hover {
        color: #77fcfd;
        background-color: #343636;
    }
    
    /* hero text */
    .hero-homepage-wrap {
        display: block;
    }
    
    .hero-image-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    
    .hero-image-wrap img {
        width: 300px;
        border: 1px solid white;
        border-radius: 10px;
        overflow: hidden;
    } 
    
    .hero-text-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 0px;
        text-align: center;
        margin: 20px 0px;
    }
    
    .hero-text-wrap h3 {
        width: fit-content;
        font-size: var(--header-size);
        font-family: poppins-semibold;
        background: #121FCF;
        background: repeating-linear-gradient(to right, #4eddf0 0%, #9fffce 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 50px;
    }
    
    .hero-text-wrap p {
        margin: 20px 20px;
        font-size: var(--paragraph-size);
        text-align: center;
    }
    
    .hero-text-wrap div {
        padding: 10px 0px;   
        width: fit-content;
    }
    
    .hero-text-wrap a {
        padding: 10px;
        border-radius: 10px;
        background-color: var(--third-color);
        transition: all 0.3s;
        color: black;
        border: 1px solid #4eddf0;
        font-size: 16px;
        font-family: poppins-light;
    }
    
    .hero-text-wrap a:hover {
        color: white;
        background-color: var(--primary-color);
        border: 1px solid #4eddf0;
        cursor: pointer;
    }
    
    /* homepage about block */
    .homepage-about {    
        padding: 100px 0px;
    }
    
    .homepage-about-blocks {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .homepage-about-block {
        max-width: 300px;
        margin: 0px 10px;
    }
    
    .about-description {
        padding: 10px;
    }
    
    .about-description h3 {
        font-size: 20px;
        margin: 10px 0px;
    }
    
    .about-description p {
        font-family: poppins-light;
        text-align: justify;
        line-height: 18px;
    }
    
    .about-button {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
    
    .about-button a {
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--third-color);
        transition: all 0.3s;
        color: black;
        border: 1px solid #4eddf0;
        font-size: 16px;
        font-family: poppins-light;
    }
    
    .about-button a:hover {
        color: white;
        background-color: var(--primary-color);
        border: 1px solid #4eddf0;
        cursor: pointer;
    }
    
    /* about */
    
    .about-image-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .about-image-wrap img {
        width: 300px;
        border: 1px solid white;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .hero-about-wrap {
        display: block;
        padding: 0px 0px;
    }
    
    .about-text-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 0px 20px;
    }
    
    .about-text-wrap h3 {
        margin-bottom: 20px;
        font-size: 30px;
    }
    
    .about-text-wrap p {
        font-family: poppins-light;
        margin: 10px 0px;
    }
    
    .about-bottom-wrap {
        padding: 40px 0px;
    }
    
    .controls {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        border-bottom: 0px solid #838383;
        flex-wrap: wrap;
    }
    
    .controls div {
        min-width: 250px;
    }
    
    .controls div:hover {
        cursor: pointer;
    }
    
    .controls .skills {
        padding: 20px;
        border-radius: 0px 0px 0px 0px;
        border-right: 0px solid black;
    }
    .controls .cv {
        padding: 20px;
        border-radius: 0px 0px 0px 0px;
    }
    
    .about-content div {
        transition: all 0.2s;
    }
    
    .skills-content {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    
    .skills-wrap {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        flex-wrap: wrap;
    }
    
    .skills-wrap div {
        width: 250px;
    }
    
    .skills-wrap h2, .cv-content h2 {
        font-size: 25px;
        text-align: center;
        margin: 20px 0px;
        color: var(--third-color);
        font-family: poppins-medium;
        line-height: 24px;
    }
    
    .skills-wrap h3 {
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
    }
    
    .skills-wrap li {
        font-size: 20px;
        color: #cccccc;
        font-family: poppins-light;
    }
    
    .cv-content {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .cv-content div {
        margin: 0px 20px;
        width: 300px;
    }
    
    .cv-content p {
        font-size: 16px;
        color: #cccccc;
        font-family: poppins-light;
    }
    
    .pdf-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 50px 0px;
    }
    .pdf-icon p {
        margin-bottom: 20px;
        text-align: center;
        width: 70%;
    }
    .pdf-icon img {
        width: 60px;
    }
    
    /* show and hide buttons */
    .showxp {
        opacity: 1;
        z-index: 3;
        height: auto;
    }
    .hidexp {
        opacity: 0;
        z-index: -3;
        height: 0px;
    }
    
    .active {
        background-color: #4f5052;
    }
    .active:hover {
        background-color: #4f5052;
    }
    .inactive {
        background-color: #343636;
    }
    .inactive:hover {
        background-color: #4f5052;
    }
    
    /* projects */
    
    .projects-wrap {
        padding: 50px 0px;
    }

    .project-hero {
        margin: 0px 20px;
    }
    
    .projects-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 30px 0px;
    }
    
    .projects-container a {
    }
    
    .project-block {
        width: 300px;
        margin: 10px;
        background-color: #2b2e2e;
        border-radius: 10px;
        overflow: hidden;
        transition: all 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 400px;
    }
    
    .project-block:hover {
        top: 20px;
        cursor: pointer;
        box-shadow: 2px 1px 32px -4px rgba(99,99,120,0.75);
        -webkit-box-shadow: 2px 1px 32px -4px rgba(99,99,120,0.75);
        -moz-box-shadow: 2px 1px 32px -4px rgba(99,99,120,0.75);
    }
    
    .project-img img {
        width: 100%;
    }
    
    .project-img h3 {
        text-align: center;
        margin-top: 10px;
    }
    
    .project-title p {
        text-align: justify;
    }
    
    .languages-wrap {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }
    
    .languages-wrap div {
        margin: 3px
    }
    
    .html, .css, .js, .jquery {
        font-size: var(--detail-size);
        font-family: poppins-extralight;
        color: black;
        padding: 2px 5px;
        border-radius: 3px;
        width: fit-content;
    }
    .html {
        background-color: #ffe9ea;
        border: 2px solid #f82f2f;
    }
    .css {
        background-color: #e4f1ff;
        border: 2px solid #2f65f8;
    }
    .js {
        background-color: #fdfce7;
        border: 2px solid #f8f411;
    }
    .jquery {
        background-color: #ebffea;
        border: 2px solid #51ad35;
    }
    
    .project-title {
        padding: 10px;
    }
    
    .project-title p {
        font-family: poppins-light;
    }
    
    .project-button-wrap {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    
    .project-button-wrap a {
        text-align: center;
    }
    
    /* contact */
    .contact-wrap {
        padding: 50px 0px;
        text-align: center;
    }

    .contact-text {
        margin: 0px 10px;
    }
    
    .contact-top-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .video-wrap {
        margin: 50px 0px;
        display: flex;
        justify-content: center;
    }
    
    .video-wrap video {
        border: 1px solid white;
        border-radius: 20px;
        width: 90%;
    }
    
    .contact-bottom-wrap {
        /* display: flex;
        justify-content: center; */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    form {
        padding: 10px;
        min-width: 1000px;
        max-width: 1000px;
    }
    
    form div {
        display: flex;
    }
    
    form input {
        margin: 5px 10px;
        width: 50%;
        padding: 10px;
    }
    
    form textarea {
        margin: 5px 10px;
        min-width: -webkit-fill-available;
        resize: none;
        padding: 10px;
        height: 100px;
    }
    
    form button {
        background-color: var(--third-color);
        border: none;
        border-radius: 10px;
        color: black;
        margin: 5px 10px;
        padding: 10px;
        font-size: 18px;
    }
    
    form button:hover {
        cursor: pointer;
        background-color: #47d0e2;
    }
    
    .mail-btn {
        margin: 40px 0px;
    }
    
    .mail-btn a {
        background-color: var(--third-color);
        border: 1px solid var(--third-color);
        padding: 20px;
        border-radius: 10px;
        color: black;
        transition: all 0.5s;
    }
    
    .mail-btn a:hover {
        border: 1px solid var(--third-color); 
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }
    
    /* footer */
    footer {
        background-color: #383a3a;
        padding: 50px 0px;
        text-align: center;
    }
    
    .footer-wrap {
        display: flex;
        flex-direction: column;
    }
    
    .social-icons-wrap a img {
        width: 50px;
    }
    
    .social-icons-wrap img {
        width: 100%;
    }
}